<p-toast></p-toast>

<p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="loading"></p-progressBar>
<div class="card" *ngIf="!loading">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Thêm nhà hàng" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <input type="text" pInputText placeholder="Search"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')">
        </ng-template>

    </p-toolbar>

    <p-table
     #dt
    [value]="restaurants" 
    [rows]="3"
    [paginator]="true"
    [globalFilterFields]="['name','address','description','phone']"
    responsiveLayout="scroll"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[3,5,10]">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Quản lý nhà hàng</h5>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Tên <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="address">Địa chỉ <p-sortIcon field="address"></p-sortIcon>
                </th>
                <th pSortableColumn="description">Chú thích <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="phone">Điện thoại <p-sortIcon field="phone"></p-sortIcon>
                </th>
                <th pSortableColumn="created">Ngày tạo <p-sortIcon field="created"></p-sortIcon>
                </th>
                <th pSortableColumn="updated">Ngày chỉnh <p-sortIcon field="updated"></p-sortIcon>
                </th>
                <th pSortableColumn="deleted">Xóa <p-sortIcon field="deleted"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-restaurant>
            <tr>
                <td>
                    <p-tableCheckbox [value]="restaurant"></p-tableCheckbox>
                </td>
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.address}}</td>
                <td>{{restaurant.description}}</td>
                <td>{{restaurant.phone}}</td>
                <td>{{restaurant.created | date : "dd/MM/yyyy"}}</td>
                <td>{{restaurant.updated | date : "dd/MM/yyyy"}}</td>
                <td>{{restaurant.deleted}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editRestaurant(restaurant)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteRestaurant(restaurant)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are 0 products.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="restaurantDialog" [style]="{width: '450px'}" header="Restaurant Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="restaurant.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !restaurant.name">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="restaurant.description" required rows="3"
                cols="20"></textarea>
        </div>
        <div class="p-field">
            <label for="address">Address</label>
            <textarea id="address" pInputTextarea [(ngModel)]="restaurant.address" required rows="3"
                cols="20"></textarea>
        </div>
        <div class="p-field">
            <label for="phone">Phone</label>
            <textarea id="address" pInputTextarea [(ngModel)]="restaurant.phone" required rows="3" cols="20"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveRestaurant()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>